@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #caf64b;
  --secondary: #2ebad5;
  --light-grey: #f4f8f9;
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light-grey: var(--light-grey);

  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-staatliches);
}

h1 {
  @apply text-7xl md:text-8xl font-secondary;
}

h2 {
  @apply text-5xl md:text-6xl  font-secondary;
}

h3 {
  @apply text-4xl md:text-3xl font-secondary;
}

html,
body {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-primary;
}

@layer components {
  .footer-text {
    @apply text-sm text-gray-600;
  }
}
